:root {
  --white: #ffff;
  --lightgray: #6e7e90;
  --green: #00ab63;
  --gray: #45505e;
  --grayBorder: #d7e0eb;
  --grayShadow: rgba(215, 224, 235, 0.93);
}

body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 0;
  margin: 0;
  box-sizing: none;
  background: url(../src/Images/Mask.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100vw;
}

div {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  body {
    background: none;
    width: 100%;
  }
}
